html, body {
    height: 100%;
    width: 100%;
    margin:0 auto;

  }

#pano {
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left-width: 0px;
  } 

#logo {
    position: absolute; top: 5px; z-index: 99;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#qr {
    position: absolute; bottom: 5px; z-index: 99;
    left: 5px;
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
  
#map {
    position: absolute; bottom: 10px; right: 10px; z-index: 99;
    width: 25%;
    height: 50%;
    min-width: 500px;
    
}



#infor {
    position: absolute; top: 10px; right: 10px; z-index: 10;
    width: 25%;
    height: 50%;
}

#check{
    position: absolute;
    right: 10px; z-index: 99;
    height: 50px;
    bottom: 50%;
    margin-bottom: 30px;
    min-width: 500px;
    width: 25%;
    height: 50px;
    display: block;
    font-size: 20;
    font-weight: bold;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

#resultModal {
    font-size: 20;
    font-weight: bold;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;   
}


#result{
    height: 200px;
    width: 90%;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
  }


#score{
    text-align: center;
    font-size: 20;
    padding-top: 10px;
}